* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: "Seto";
    src: url("../font/Seto.eot");
    /* IE9 */
    src: url("../font/Seto.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */

        url("../font/Seto.woff") format("woff"),
        /* chrome、firefox */
        url("../font/Seto.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

        url("../font/Seto.svg#Seto") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "Seto";
    padding: 0;
    margin: 0;
    color: #515151;
    background-color: #cccccc;
    transition: all 2s;
}

a {
    text-decoration: none;
    color: #515151;
    margin: 0 4px;
}

a:hover {
    color: #303030;
}

#app {
    outline: none;
}

.footer {
    text-align: center;
    font-size: 18px;
}

.footer ul {
    margin: 0;
    padding: 0;
    margin: 10px 0;
}

.footer ul li {
    list-style-type: none;
    display: inline;
}

.footer ul li:hover {
    cursor: pointer;
    color: #303030;
}

.footer li:not(:first-child):before {
    content: " / ";
}

.footer .meta {
    margin: 10px 0;
    opacity: 0.8;
}

.btn {
    display: inline-block;
    border: 2px solid #515151;
    font-size: 20px;
    padding: 10px 16px;
    margin: 10px;
    border-radius: 30px;
}

.btn.small {
    font-size: 18px;
}

.btn:hover {
    cursor: pointer;
    background-color: #515151;
    color: #ffffff;
}

.content-loading {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.loading-img {
    width: 30%;
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    animation: rotate 6s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

.container {
    position: relative;
    text-align: center;
    width: 75%;
    max-width: 600px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 60px 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #00000020;
}

.container .tooltip {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
    opacity: 0.2;
    transition: all 0.2s;
    background-image: url('../image/tip.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.container .tooltip:hover {
    opacity: 0.6;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 14px;
    background-color: #51515166;
    color: #fff;
    text-align: left;
    padding: 5px 8px;
    border-radius: 6px;

    /* 定位 */
    position: absolute;
    z-index: 1;
    top: 36px;
    right: 0px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media only screen and (max-width: 500px) {
    .container .tooltip {
        display: none;
    }
}

.index-btn {
    background-color: #515151;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    margin: 20px -40px -60px;
    padding: 20px 40px;
    border-radius: 0 0 20px 20px;
}

.index-btn:hover {
    cursor: pointer;
    background-color: #303030;
    color: #ffffff;
    font-size: 26px;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}

.bounce-leave-active {
    animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.title .meta {
    color: #515151;
    font-size: 28px;
    margin: 10px 0;
}

.title .str {
    color: #515151;
    margin: 20px 0;
}

.title .input.str {
    font-size: 42px;
    border: 1px solid #dddddd;
    background: #f6f6f6;
    padding: 14px;
    min-height: 42px;
    word-break: break-all;
}

.title .placeholder {
    color: #cccccc;
}

.title .output.str {
    font-size: 48px;
    word-break: break-all;
}

.output-image {
    margin: 20px 0;
    padding: 20px 0;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}